[submodule "googleads-mobile-android-examples"]
	path = googleads-mobile-android-examples
	url = https://github.com/googleads/googleads-mobile-android-examples.git
[submodule "android_ads"]
	path = android_ads
	url = https://github.com/garenaobama/Oz-Admonetization.git
[submodule "oz_uikit"]
	path = oz_uikit
	url = D:\\oz_ads\\oz_uikit
